body {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 10px;
}
#parent {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
#parent>div {
    border: 1px solid rgba(0, 0, 0, 0.8);
    justify-content: center;
    width: 25%;
    align-items: center;
    align-content: center;
    display: grid;
}

 @media screen and (max-width:800px){ 
     #parent {
        display: flex;
        align-items: center;
        align-content: stretch;
        flex-flow: column nowrap;
    }
    #parent>div {
        width: 45%;
    }
 } 